<div id="alta-tarifas">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Nueva Zona</h4>

                <form class="forms-sample" [formGroup]="altaZonaForm" (ngSubmit)="createZona()">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nroZonaLabel">N° Zona</label>
                                <input type="number" class="form-control" placeholder="Número de zona"
                                    formControlName="nroZona" value="0">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nombreLabel">Nombre</label>
                                <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre"
                                    value="">
                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="row margin-bottom: 10px">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nombreLabel">Cobradores</label>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4" *ngFor="let cobrador of cobradoresArray">
                            <div class="form-group">
                                <label class="checkbox-inline mr-2 ml-2" for="nombreLabel">
                                    <input type="checkbox" name="cobradoresArray" value="cobrador.apellido"
                                        (change)="updateChecked(cobrador, $event)" />
                                    {{ cobrador.nombre }} {{ cobrador.apellido }}
                                </label>
                            </div>
                        </div>
                    </div>




                    <button type="submit" class="btn btn-success mr-2">Agregar</button>
                    <button class="btn btn-light" (click)="onCancel()">Cancelar</button>
                    <br><br>

                </form>

            </div>
        </div>
    </div>
</div>