<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item nav-profile">
      <div class="nav-link">
        <div class="user-wrapper">
          <div class="profile-image">
            <img src="assets/images/faces/face1.jpg" alt="profile image">
          </div>
          <div class="text-wrapper">
            <p class="profile-name">Cocheria Zurdo</p>
            <div>
              <small class="designation text-muted">Activo</small>
              <span class="status-indicator online"></span>
            </div>
          </div>
        </div>
        <button class="btn btn-success btn-block" routerLink="/socio/alta">Nuevo Socio! 
          <i class="mdi mdi-plus"></i>
        </button>
      </div>
    </li>

    <li class="nav-item" type="button" (click)="socioGroup = !socioGroup">
      <a class="nav-link">
        <i class="menu-icon fa fa-angle-double-down" *ngIf="socioGroup"></i>
        <i class="menu-icon fa fa-angle-double-up" *ngIf="!socioGroup"></i>
        <span class="menu-title">Socios</span>
      </a>
    </li>

    <li class="nav-item" type="button" [ngbCollapse]="socioGroup" routerLink="/socio" routerLinkActive="active">
      <a class="nav-link">
        <i class="menu-icon fa fa-angle-right"></i>
        <span class="menu-title">Padrón</span>
      </a>
    </li>

    <li class="nav-item" type="button" [ngbCollapse]="socioGroup" routerLink="/socio/alta" routerLinkActive="active">
      <a class="nav-link">
        <i class="menu-icon fa fa-angle-right"></i>
        <span class="menu-title">Alta</span>
      </a>
    </li>


    <li class="nav-item" type="button" (click)="adherenteGroup = !adherenteGroup">
      <a class="nav-link">
        <i class="menu-icon fa fa-angle-double-down" *ngIf="adherenteGroup"></i>
        <i class="menu-icon fa fa-angle-double-up" *ngIf="!adherenteGroup"></i>
        <span class="menu-title">Adherentes</span>
      </a>
    </li>

    <li class="nav-item" type="button" [ngbCollapse]="adherenteGroup" routerLink="/adherente" routerLinkActive="active">
      <a class="nav-link">
        <i class="menu-icon fa fa-angle-right"></i>
        <span class="menu-title">Padrón</span>
      </a>
    </li>

    <li class="nav-item" type="button" [ngbCollapse]="adherenteGroup" routerLink="/adherente/alta" routerLinkActive="active">
      <a class="nav-link">
        <i class="menu-icon fa fa-angle-right"></i>
        <span class="menu-title">Alta</span>
      </a>
    </li>


    <li class="nav-item" type="button" (click)="tarifaGroup = !tarifaGroup">
      <a class="nav-link">
        <i class="menu-icon fa fa-angle-double-down" *ngIf="tarifaGroup"></i>
        <i class="menu-icon fa fa-angle-double-up" *ngIf="!tarifaGroup"></i>
        <span class="menu-title">Tarifas</span>
      </a>
    </li>

    <li class="nav-item" type="button" [ngbCollapse]="tarifaGroup" routerLink="/tarifa" routerLinkActive="active">
      <a class="nav-link">
        <i class="menu-icon fa fa-angle-right"></i>
        <span class="menu-title">Padrón</span>
      </a>
    </li>

    <li class="nav-item" type="button" [ngbCollapse]="tarifaGroup" routerLink="/tarifa/alta" routerLinkActive="active">
      <a class="nav-link">
        <i class="menu-icon fa fa-angle-right"></i>
        <span class="menu-title">Alta</span>
      </a>
    </li>

    <li class="nav-item" type="button" (click)="zonaGroup = !zonaGroup">
      <a class="nav-link">
        <i class="menu-icon fa fa-angle-double-down" *ngIf="zonaGroup"></i>
        <i class="menu-icon fa fa-angle-double-up" *ngIf="!zonaGroup"></i>
        <span class="menu-title">Zonas</span>
      </a>
    </li>

    <li class="nav-item" type="button" [ngbCollapse]="zonaGroup" routerLink="/zona" routerLinkActive="active">
      <a class="nav-link">
        <i class="menu-icon fa fa-angle-right"></i>
        <span class="menu-title">Padrón</span>
      </a>
    </li>

    <li class="nav-item" type="button" [ngbCollapse]="zonaGroup" routerLink="/zona/alta" routerLinkActive="active">
      <a class="nav-link">
        <i class="menu-icon fa fa-angle-right"></i>
        <span class="menu-title">Alta</span>
      </a>
    </li>


    <li class="nav-item" type="button" (click)="cobradorGroup = !cobradorGroup">
      <a class="nav-link">
        <i class="menu-icon fa fa-angle-double-down" *ngIf="cobradorGroup"></i>
        <i class="menu-icon fa fa-angle-double-up" *ngIf="!cobradorGroup"></i>
        <span class="menu-title">Cobradores</span>
      </a>
    </li>

    <li class="nav-item" type="button" [ngbCollapse]="cobradorGroup" routerLink="/cobrador" routerLinkActive="active">
      <a class="nav-link">
        <i class="menu-icon fa fa-angle-right"></i>
        <span class="menu-title">Padrón</span>
      </a>
    </li>

    <li class="nav-item" type="button" [ngbCollapse]="cobradorGroup" routerLink="/cobrador/alta" routerLinkActive="active">
      <a class="nav-link">
        <i class="menu-icon fa fa-angle-right"></i>
        <span class="menu-title">Alta</span>
      </a>
    </li>


    <li class="nav-item" type="button" (click)="obraSocialGroup = !obraSocialGroup">
      <a class="nav-link">
        <i class="menu-icon fa fa-angle-double-down" *ngIf="obraSocialGroup"></i>
        <i class="menu-icon fa fa-angle-double-up" *ngIf="!obraSocialGroup"></i>
        <span class="menu-title">Obra sociales</span>
      </a>
    </li>

    <li class="nav-item" type="button" [ngbCollapse]="obraSocialGroup" routerLink="/obra-social" routerLinkActive="active">
      <a class="nav-link">
        <i class="menu-icon fa fa-angle-right"></i>
        <span class="menu-title">Padrón</span>
      </a>
    </li>

    <li class="nav-item" type="button" [ngbCollapse]="obraSocialGroup" routerLink="/obra-social/alta" routerLinkActive="active">
      <a class="nav-link">
        <i class="menu-icon fa fa-angle-right"></i>
        <span class="menu-title">Alta</span>
      </a>
    </li>

    <li class="nav-item" type="button" (click)="servicioGroup = !servicioGroup">
      <a class="nav-link">
        <i class="menu-icon fa fa-angle-double-down" *ngIf="servicioGroup"></i>
        <i class="menu-icon fa fa-angle-double-up" *ngIf="!servicioGroup"></i>
        <span class="menu-title">Servicios</span>
      </a>
    </li>

    <li class="nav-item" type="button" [ngbCollapse]="servicioGroup" routerLink="/servicios" routerLinkActive="active">
      <a class="nav-link">
        <i class="menu-icon fa fa-angle-right"></i>
        <span class="menu-title">Padrón</span>
      </a>
    </li>

    <li class="nav-item" type="button" [ngbCollapse]="servicioGroup" routerLink="/servicios/alta" routerLinkActive="active">
      <a class="nav-link">
        <i class="menu-icon fa fa-angle-right"></i>
        <span class="menu-title">Alta</span>
      </a>
    </li>

    <li class="nav-item" type="button" (click)="ventaGroup = !ventaGroup">
      <a class="nav-link">
        <i class="menu-icon fa fa-angle-double-down" *ngIf="ventaGroup"></i>
        <i class="menu-icon fa fa-angle-double-up" *ngIf="!ventaGroup"></i>
        <span class="menu-title">Ventas</span>
      </a>
    </li>

    <li class="nav-item" type="button" [ngbCollapse]="ventaGroup" routerLink="/venta" routerLinkActive="active">
      <a class="nav-link">
        <i class="menu-icon fa fa-angle-right"></i>
        <span class="menu-title">Padrón</span>
      </a>
    </li>

    <li class="nav-item" type="button" [ngbCollapse]="ventaGroup" routerLink="/venta/alta" routerLinkActive="active">
      <a class="nav-link">
        <i class="menu-icon fa fa-angle-right"></i>
        <span class="menu-title">Alta</span>
      </a>
    </li>


    <li class="nav-item" type="button" (click)="comprobanteGroup = !comprobanteGroup">
      <a class="nav-link">
        <i class="menu-icon fa fa-angle-double-down" *ngIf="comprobanteGroup"></i>
        <i class="menu-icon fa fa-angle-double-up" *ngIf="!comprobanteGroup"></i>
        <span class="menu-title">Comprobantes</span>
      </a>
    </li>

    <li class="nav-item" type="button" [ngbCollapse]="comprobanteGroup" routerLink="/comprobante" routerLinkActive="active">
      <a class="nav-link">
        <i class="menu-icon fa fa-angle-right"></i>
        <span class="menu-title">Consultar</span>
      </a>
    </li>

    <li class="nav-item" type="button" (click)="pagoGroup = !pagoGroup">
      <a class="nav-link">
        <i class="menu-icon fa fa-angle-double-down" *ngIf="pagoGroup"></i>
        <i class="menu-icon fa fa-angle-double-up" *ngIf="!pagoGroup"></i>
        <span class="menu-title">Pagos</span>
      </a>
    </li>

    <li class="nav-item" type="button" [ngbCollapse]="pagoGroup" routerLink="/pago/informar" routerLinkActive="active">
      <a class="nav-link">
        <i class="menu-icon fa fa-angle-right"></i>
        <span class="menu-title">Informar</span>
      </a>
    </li>

  </ul>
</nav>