<div class= "login" *ngIf="!loading">
  <img class="logo-image" src="assets/images/samples/ataud.png">
  <div class="col-12 grid-margin">
      <div class="card">
        <div class="card-body">
          <form class="form-login" [formGroup]="authForm" (ngSubmit)="auth()">
            <div class="form-group">
              <label for="inputEmail">Username</label>
              <input type="text" class="form-control" formControlName="username" id="inputEmail" placeholder="Username">
            </div>
            <div class="form-group">
              <label for="inputPassword">Password</label>
              <input type="password" class="form-control" formControlName="password" id="inputPassword" placeholder="Password">
            </div>
            <div class="form-group buttons-section">
              <button type="submit" id="sign-in" class="btn btn-dark mr-2">Sign In</button>
              <button id="cancel" class="btn btn-light">Cancel</button>
            </div>
          </form>
          <br>
          <div class="alert alert-danger" role="alert" *ngIf="!loading && wrongCredentials">
              Usuario o contraseña incorrectos.
          </div>
        </div>
        
      </div>
  </div>
</div>
<div class="spinner-border text-primary" role="status" *ngIf="loading">
  <span class="sr-only">Loading...</span>
</div>