<div id="listado-zonas">
    <div class="card" *ngIf="!loading && !error">
        <div class="card-body">
            <h4 class="card-title" style="margin-bottom: 16px">Padrón de tarifas</h4>

            <div class="" style="margin-bottom: 16px">
                <input type="text" class="form-control" name="filterDatos" placeholder="Búsqueda..."
                    [(ngModel)]="filterDatos">
            </div>

            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Número de tarifa</th>
                            <th>Descripción</th>
                            <th>Valor</th>
                            <th>Plan</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let tarifa of tarifasArray | filterTarifa:filterDatos ; let i = index">
                            <td>{{i + 1 }}</td>
                            <td>{{tarifa.nroTarifa}}</td>
                            <td>{{tarifa.descripcion}}</td>
                            <td>{{tarifa.valor}}</td>
                            <td>{{tarifa.plan.descripcion}}</td>
                            <td>
                                <div ngbDropdown class="d-inline-block">
                                    <button class="btn btn-outline-primary" type="button"
                                        id="dropdownMenuOutlineButton1" ngbDropdownToggle>
                                        Acciones
                                    </button>
                                    <div ngbDropdownMenu aria-labelledby="dropdownMenuOutlineButton1">
                                        <a type="button" class="dropdown-header" (click)="verRangos(tarifa)">Ver
                                            rangos</a>
                                        <div class="dropdown-divider"></div>
                                        <a type="button" class="dropdown-header" (click)="deleteTarifa(tarifa)">Dar de
                                            baja</a>
                                        <div class="dropdown-divider"></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="!loading && error">
        Ha ocurrido un error, inténtelo más tarde.
    </div>
</div>
<div class="spinner-border text-primary" role="status" *ngIf="loading">
    <span class="sr-only">Loading...</span>
</div>