<app-toolbar></app-toolbar>
<app-side-menu></app-side-menu>
<div class="card-body">
    <h4 class="card-title">Deslogearse</h4>
      <button type="button" class="btn btn-light btn-fw" (click)="logout()">Sign out</button>
</div>
<div class="card" *ngIf="!loading">
    <div class="card-body">
        <h4 class="card-title">Listar provincias en consola</h4>
        <button type="button" class="btn btn-dark btn-fw" (click)="getProvincias()">Listar</button>
        <button type="button" class="btn btn-dark btn-fw" routerLink="/socio" routerLinkActive="active">Socios</button>
    </div>
</div>