.titleSaldo {
    margin-bottom: 0%;
    width: 250px;
}

.saldo {
    margin-bottom: 0rem !important;
    margin: 0 32px 0 32px;
}

.buttonInformar {
    display: flex;
    justify-content: flex-end;
}
